/* Основной шрифт и цвет текста, общие секционные стили */
:root {
  --main-text-color: #212121;
  --header-background-color: #FFFFFF;
  --first-background-color: #2F303A;
  --second-background-color: #F5F4FA;
  /* --third-background-color: #F5F5F5; */
  --hoverfocus-text-color: #2196F3;
  --text-color: #FFFFFF;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
}

.list {
  list-style: none;

  margin: 0;
  padding: 0;
}

h1, h2, h3, p, {
  margin: 0;
  padding: 0;
}

li > h3, li > p {
  margin: 0;
}

div > h2, div > h3, div > p {
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.text {
  font-weight: 400;
  color: #757575;
}

/* Оформление шапки сайта - общая для всех! */
.header {
  background: var(--header-background-color);
}

header {
  border-bottom: 1px solid #ECECEC;
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  width: 281px;
  justify-content: space-between;
  margin-left: 93px;
  padding-left: 0;
}

.contacts {
  display: flex;
  width: 333px;
  justify-content: space-between;
  margin-left: auto;
  padding-left: 0;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo-web {
  color: #2196F3;
}

.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link-nav:hover,
.link-nav:focus {
  color: var(--hoverfocus-text-color);
}

.link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;

  display: flex;
  align-items: center;
}

.link-contacts:hover,
.link-contacts:focus {
  color: var(--hoverfocus-text-color);
}

.current {
  color: #2196F3;
}

.icon-envelope {
  fill: #757575;

  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.icon-smartphone {
  fill:#757575;

  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.item-contact:not(:last-child) {
  margin-right: 30px;
}

.icon-envelope:hover, .icon-envelope:focus {
  fill: var(--hoverfocus-text-color);
}
.icon-smartphone:hover,
.icon-smartphone:focus {
  fill: var(--hoverfocus-text-color);
}

/*Заказ услуг - главный заголовок*/
.section-one {
  background: #C4C4C4;
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

main > .section-one {
  margin-top: 0;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color);

  width: 696px;
  margin-bottom: 30px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

.main-button {
  background: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;

  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  display: inline-block;
}

.main-button:hover,
.main-button:focus {
  background: #188CE8;
}

/*Особенности студии*/
.feature {
  display: flex;
}

.feature>.item {
  width: 270px;
  height: 98px;
}

.feature>.item:not(:last-child) {
  margin-right: 30px;
}

.subtitle-two {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.text-two {
  font-size: 14px;
  line-height: 1.71;
}

/*Чем мы занимаемся*/
.work {
  display: flex;
  margin-top: 50px;
}

.work>.item:not(:last-child) {
  margin-right: 30px;
}

.section-three {
  padding-bottom: 94px;
}

/* Наша команда */
.team {
  display: flex;
  margin-top: 50px;
}

.team>.item:not(:last-child) {
  margin-right: 30px;
  
}

.team > .item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
} 

.team-photo {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-four {
  background: var(--second-background-color);
  padding-bottom: 94px;
}

.subtitle-four {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin-bottom: 10px;
}

.text-four {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* Футер - общий для всех! */
.footer {
  background: var(--first-background-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19; 
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;

  display: block;
}

address {
  margin-top: 20px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
}

.item-mail {
  margin-top: 9px;
  margin-bottom: 9px;
}

.mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  }

.tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address:hover,
.address:focus,
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: var(--hoverfocus-text-color);
}

/* Страница 2 - Портфолио */
.section-portfolio {
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.filter>.item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.button {
  background: #F5F4FA;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;

  border-radius: 4px;
  border: 0;
  display: inline-block;
  padding: 6px 22px;
}

.button:hover,
.button:focus {
  background: var(--hoverfocus-text-color);
  color: #FFFFFF;
}

.project-name {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.link-potrfolio {
  color: #212121;
  text-decoration: none;
}

.subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  
  margin-bottom: 4px;
}

.text.portfolio {
  font-size: 16px;
  line-height: 1.88;
}